/*=============================================
GLOBAL
=============================================*/

*{
	margin:1px;
	padding:0px;
	list-style: none;
	text-decoration: none;
	font-family: sans-serif;
	box-sizing: border-box; /*Esto asegura que el relleno y el borde estén incluidos en el ancho y alto total de la caja html.*/
}

.contenedor{
	position:fixed;
	margin:auto;
	width:100%;
	height: auto;
}

.fila{
	position:relative;
	margin:auto;
	width:100%;
	height: auto;
	/*Las columnas dentro de una fila están flotando a la izquierda, y por lo tanto se toman fuera del flujo de la página, y otros elementos serán colocados como si no fueran de las columnas. Para evitar esto, vamos a añadir un estilo que despeja el flujo*/
	clear:both;
	display:table;
	/*	border: 1px solid black;*/
}

[class*="col-"]{
	float:left;
	/*	border:1px solid black;*/
	padding:20px !important;
}


/*=============================================
HEADER SECTION 1
=============================================*/
header .bar1 {
	background: #197764;
	text-align: right;
}
header .bar1 p{
	display: contents;
	font-family: 'Bree Serif', serif;
	vertical-align: middle;
	color: white;
}
header .bar1 img{
	width: 15px;
}

header .bar1 #sun{
	margin-right: 40px;
}

header .bar1 [class*="col-"]{
	padding: 9px;
}

#logotipo{
	width: 100px;
	/*margin-left: 10%;*/
}

header .bar1 [class*="col-"]{
	float:left;
	/*	border:1px solid black;*/
	padding:0px !important;
}

    /*-------------BOTONERA-----------*/

    header ul li a{
    	display: block;
    	background: #197764;
    	color: white;
    	line-height: 40px;
    	border-radius: 10px;
    	text-decoration: none;
    }

    header ul li a:hover{
    	background:#117A65;
    	transition: 0.5s;
    	color: white;
    }

    header ul li a:focus{
    	background:white;
    	color:#197764;
    }


    header li a {
    	text-align: center;
    	padding: 10px;
    	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)
    }

    header .title p{
    	font-size: 3rem;
    	font-family: 'Cairo', sans-serif;
    	padding-left: 3rem;
    	color: #197764;
    }

    .carousel-indicators [data-bs-target]{
    	background-color: red !important;
    }

    .carousel-control-next-icon,  .carousel-control-prev-icon {
    	background-color: red;
    }


/*=============================================
SLIDESHOW
=============================================*/

#slide{
	position: relative;
	margin:auto;
	width: 100%;
	overflow: hidden;
}

#slide ul{
	position: relative;
	left: 0%;
	margin:auto;
	width: 500%;
	clear: both;
	display: table;
	padding-left: 0rem;
}

#slide ul li{
	position: relative;
	width: 20%;
	float: left;
}


#slide ul li img{
	width: 100%;
}

#slide #paginacion{

	position: absolute;
	width: 100%;
	margin:auto;
	text-align: center;
	bottom: 10px;
	left: 0;
	z-index: 1;
}

#slide #paginacion li{

	display: inline-block;
	margin:0px 5px;
	cursor: pointer;
	opacity: .5;
	color: white;
	text-shadow: 0px 0px 5px #333;
}

#slide #paginacion li:first-child{
	opacity:1;
}

#slide .arrow{
	position: absolute;
	font-size: 2em;
	color: white;
	cursor: pointer;
	z-index: 2;
}

#slide #back{
	top:45%;
	left:2%;
}

#slide #next{
	top:45%;
	right:2%;
}


#slide ul li .textoSlide{

	position: absolute;
	width: 100%;
	bottom: 40px;
	left: 0;
	text-align: center;
	z-index: 1;
	color: white;
	background: rgba(0,0,0,.5);
}

#slide ul li .textoSlide h1{
	padding:5px 0;
}

#slide ul li .textoSlide h3{
	padding:10px;
}




/*=============================================
PANTALLA DE ESCRITORIO GRANDE - LARGE (lg) - revisamos en portatil o pc
=============================================*/

@media(min-width:1200px){

	.col-lg-12{width:100%;}
	.col-lg-11{width:91.66666667%;}
	.col-lg-10{width:83.33333333%;}
	.col-lg-9{width:75%;}
	.col-lg-8{width:66.66666667%;}
	.col-lg-7{width:58.33333333%;}
	.col-lg-6{width:50%;}
	.col-lg-5{width:41.66666667%;}
	.col-lg-4{width: 33.33333333%;}
	.col-lg-3{width: 25%;}
	.col-lg-2 {width: 16.66666667%;}
	.col-lg-1 {width: 8.33333333%;}
	.col-lg-0 {display:none;}

	#seccion4 article p img{
		width:50%;
		padding-left: 0rem;
	}
	
	#slide #paginacion {
    position: fixed;
    width: 100%;
    margin: auto;
    text-align: center;
    bottom: 10px;
    left: 0;
    z-index: 1;
}

}

/*=============================================
PANTALLA DE ESCRITORIO MEDIANO - MEDIUM (md) - revisamos en tablet horizontal 1024px
=============================================*/

@media(max-width:1199px) and (min-width:992px){

	.col-md-12{width:100%;}
	.col-md-11{width:91.66666667%;}
	.col-md-10{width:83.33333333%;}
	.col-md-9{width:75%;}
	.col-md-8{width:66.66666667%;}
	.col-md-7{width:58.33333333%;}
	.col-md-6{width:50%;}
	.col-md-5{width:41.66666667%;}
	.col-md-4{width: 33.33333333%;}
	.col-md-3{width: 25%;}
	.col-md-2{width: 16.66666667%;}
	.col-md-1{width: 8.33333333%;}
	.col-md-0 {display:none;}

	#seccion4 article p img{
		width:60%;
	}
	header .title p{
		text-align: left;
	}

	header ul li a {
		font-size: 11px;
	}
	header ul li a:hover{
		font-size: 11px;
	}

	header .bar1 [class*="col-"]{
		display: contents;
	}

}

/*=============================================
PANTALLA DE TABLET - SMALL (sm) - revisamos en tablet vertical 768px
=============================================*/

@media(max-width:991px) and (min-width:768px){

	.col-sm-12{width:100%;}
	.col-sm-11{width:91.66666667%;}
	.col-sm-10{width:83.33333333%;}
	.col-sm-9{width:75%;}
	.col-sm-8{width:66.66666667%;}
	.col-sm-7{width:58.33333333%;}
	.col-sm-6{width:50%;}
	.col-sm-5{width:41.66666667%;}
	.col-sm-4{width: 33.33333333%;}
	.col-sm-3{width: 25%;}
	.col-sm-2{width: 16.66666667%;}
	.col-sm-1{width: 8.33333333%;}
	.col-sm-0 {display:none;}
	
	header .title p{
		text-align: center;
		padding-left: 0rem;
	}
	header .bar2 .col-lg-11{
		width: 100%;
	}

		#slide ul li .textoSlide h1{
		display:none;
	}

	#slide ul li .textoSlide h3{
		display:none;
	}
}

/*=============================================
PANTALLA DE PHONES - EXTRA SMALL (xs) - revisamos en movil horizontal 480px o vertical 320px
=============================================*/

@media(max-width:767px){

	.col-xs-12{width:100%;}
	.col-xs-11{width:91.66666667%;}
	.col-xs-10{width:83.33333333%;}
	.col-xs-9{width:75%;}
	.col-xs-8{width:66.66666667%;}
	.col-xs-7{width:58.33333333%;}
	.col-xs-6{width:50%;}
	.col-xs-5{width:41.66666667%;}
	.col-xs-4{width: 33.33333333%;}
	.col-xs-3{width: 25%;}
	.col-xs-2{width: 16.66666667%;}
	.col-xs-1{width: 8.33333333%;}
	.col-xs-0 {display:none;}

	#seccion4 article p img{
		width:100%;
		margin-bottom: 20px;
	}

	header .title p{
		text-align: center;
		padding-left: 0rem;
	}
	#slide ul li .textoSlide h1{
		display:none;
	}

	#slide ul li .textoSlide h3{
		display:none;
	}


	header ul{
		padding-left: 0rem;
	}


}


